<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/input.css}">
    <title>New Book</title>
</head>
<body>
<h1>Edit Book:</h1>
    <form action="#" th:action="@{/book/save}" th:object="${book}" method="POST">
        <input type="hidden" th:field="*{id}"><br>
        Book Name: <input type="text" th:field="*{a_bookName}"><br>
        Genre: <input type="text" th:field="*{bookGenre}"><br>
        Author's ID <input type="number" th:field="*{author.id}"><br>
        <input type="submit" value="Done">
    </form>
    <div class="buttons">
        <button class="bottom_button"><a th:href="@{/book}" class="button_link">Back</a></button>
        <button class="bottom_button"><a th:href="@{/}" class="button_link">Home</a></button>
    </div>
</body>
</html>